flows.json
[{"id":"8162a62.4b37958","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ebbd987b.95bd38","type":"tab","label":"SK9822_POV","disabled":false,"info":""},{"id":"5679a34a.906eac","type":"ui_group","z":"","name":"WS2812B LED STRIP","tab":"8ab0ed8c.720d6","order":1,"disp":true,"width":"6"},{"id":"8ab0ed8c.720d6","type":"ui_tab","z":"","name":"Lab","icon":"dashboard","order":1},{"id":"20e33818.5692e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3a507bef.38cf94","type":"inject","z":"8162a62.4b37958","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[[]]},{"id":"426e773e.0c40f8","type":"ui_colour_picker","z":"ebbd987b.95bd38","name":"Selector de color","label":"COLOR PICKER","group":"5679a34a.906eac","format":"rgb","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":140,"y":162,"wires":[["bd4b4aeb.6e1cf8"]]},{"id":"bd4b4aeb.6e1cf8","type":"function","z":"ebbd987b.95bd38","name":"Color establesido","func":"// \nvar count = global.get('count')||0;\nmsg.payload = msg.payload.replace(/[rgb()\\s]/g,\"\");\n//\nif(count===0){\n    msg.payload = msg.payload;\n}\n//\nelse{\n    msg.payload = (count-1) + \",\" + msg.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":163,"wires":[[]]},{"id":"db125248.930df","type":"ui_numeric","z":"ebbd987b.95bd38","name":"Números de LED´s","label":"LED SELECTED","tooltip":"","group":"5679a34a.906eac","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"14","step":1,"x":140,"y":104,"wires":[["bc172bb4.dfe8e8","1dcbead1.94d595"]]},{"id":"bc172bb4.dfe8e8","type":"function","z":"ebbd987b.95bd38","name":"LED seleccionado","func":"// Inicialice el contador a 0 si aún no existe.\nvar count = global.get('count')||0;\n\n// Almacenar el valor de nuevo\nglobal.set('count',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":414,"y":66,"wires":[[]]},{"id":"c985ab5d.383c68","type":"ui_button","z":"ebbd987b.95bd38","name":"Limpiar","group":"5679a34a.906eac","order":6,"width":0,"height":0,"passthru":false,"label":"CLEAR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0,0,0","payloadType":"str","topic":"","x":133,"y":271,"wires":[[]]},{"id":"1dcbead1.94d595","type":"ui_slider","z":"ebbd987b.95bd38","name":"Selección de LED´s","label":"SELECT LED","tooltip":"","group":"5679a34a.906eac","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"14","step":1,"x":144,"y":32,"wires":[["bc172bb4.dfe8e8","db125248.930df"]]},{"id":"f206cc4c.9fc8f","type":"ui_dropdown","z":"ebbd987b.95bd38","name":"Colores predeterminados","label":"SELECT STRIP COLOR","tooltip":"","place":"SELECT STRIP COLOR","group":"5679a34a.906eac","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"RED","value":"255,0,0","type":"str"},{"label":"GREEN","value":"0,255,0","type":"str"},{"label":"BLUE","value":"0,0,255","type":"str"},{"label":"WHITE","value":"255,255,255","type":"str"},{"label":"PURPLE","value":"255,0,255","type":"str"},{"label":"CYAN","value":"0,255,255","type":"str"},{"label":"YELLOW","value":"255,255,0","type":"str"}],"payload":"","topic":"","x":140,"y":217,"wires":[[]]},{"id":"d8e5ee6e.78986","type":"function","z":"ebbd987b.95bd38","name":"Efecto arcoíris","func":"var numberOfLEDs = 14;\n//\nfor(i=0; i<255; i++){\n    //\n    for(j=0; j<numberOfLEDs; j++){\n        //\n        var pos = 0;\n        pos = Math.round(((j*255/numberOfLEDs)+i))&255;\n        //\n        if(pos<85){\n            var red = pos*3;\n            var green = 255-pos*3;\n            var blue = 0;\n        }\n        //\n        else if(pos < 170){\n            pos -= 85;\n            var red = 255 - pos*3;\n            var green = 0;\n            var blue = pos*3;\n        }\n        //\n        else{\n            pos -= 170;\n            var red = 0;\n            var green = pos*3;\n            var blue = 255-pos*3;\n        }\n        //\n        var setColor = j+','+ red +','+ green +','+ blue;\n        node.send({payload:setColor});\n    }\n}","outputs":1,"noerr":0,"x":339,"y":323,"wires":[["b77f4cc.bf55fb"]]},{"id":"b6774b39.728168","type":"ui_button","z":"ebbd987b.95bd38","name":"Efecto arcoíris","group":"5679a34a.906eac","order":5,"width":0,"height":0,"passthru":false,"label":"START RAINBOW EFFECT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":128,"y":323,"wires":[["d8e5ee6e.78986"]]},{"id":"b77f4cc.bf55fb","type":"delay","z":"ebbd987b.95bd38","name":"Limite","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.001","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":505,"y":323,"wires":[[]]},{"id":"1263595f.b50cf7","type":"rpi-gpio out","z":"ebbd987b.95bd38","name":"CLK","pin":"23","set":"","level":"0","freq":"","out":"out","x":785.5,"y":398,"wires":[]},{"id":"12d11218.7894fe","type":"trigger","z":"ebbd987b.95bd38","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":627.5,"y":398,"wires":[["1263595f.b50cf7"]]}]